NODE_ENV=development

DATABASE_URL=

PORT=2000
SECRET_KEY=test

SALT_ROUND=10

# Web
ADMIN_FRONTEND_URL=

# Google reCAPTCHA
USERS_GOOGLE_RECAPTCHA_API=https://www.google.com/recaptcha/api/siteverify
USERS_GOOGLE_RECAPTCHA_SECRET_KEY=

# TERMII
TERMII_BASEURL=https://v3.api.termii.com
TERMII_API_KEY=

# SendInBlue
SENDINBLUE_API_KEY=

# SMTP
SMTP_SENDER_NAME=Example
SMTP_FROM=contact@example.com
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

SUPPORT_EMAIL=help@example.com

# S3
STORAGE_REGION=
STORAGE_BUCKET_NAME=
S3_ENDPOINT=
STORAGE_ENDPOINT=
STORAGE_KEY_ID=
STORAGE_KEY_SECRET=

# Redis
REDIS_URL=redis://127.0.0.1:6379
REDIS_USER_SESSION_TIME=3600 # seconds
REDIS_REQUEST_RATE_LIMIT=10
REDIS_REQUEST_RATE_LIMIT_TIME_WINDOW=60 # seconds

# New Relic
NEW_RELIC_LICENSE_KEY=

# Project Definition
PROJECT_TITLE=Example
PROJECT_CODE=1